.sidenav {
  margin-top: 20%;
  height: 24%;
  width: 50px;
  position: fixed;
  z-index: 3000;
  top: 0;
  left: 0;
  background-color: var(--color_blue_5);
  overflow-x: hidden;
  padding-top: 10px;
}

.sidenav a {
  text-align: left;
  padding: 6px 8px 6px 9px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  cursor: pointer;
}
.sidenav a i{  
  font-weight: 200; 
}

.sidenav a:hover {
  color: #f1f1f1;
}

 @media only screen and (max-width: 600px) {
   .sidenav{
      position: relative;
      display: inline;
      margin-top: -60px;
      background-color: transparent;
    }
    .sidenav a {
      display: flex;
      display: inline;
    }
  
}