
/* Estilos Titulo */

.boletin-title{
  font-size: 28px;
  font-weight: bolder;
  line-height: 110%;
}

  figcaption span{
  font-size: 11px;  
  }


 .span-icon{
    color: white;
    padding-left: 9px;
    padding-top:10px;
  }


  .noticias-relacionadas{
    text-align: justify;
    font-size: 22px;
  }


@media only screen and (max-width: 600px) {
  .boletin-title{
    font-size: 22px;
    font-weight: bolder;
  }

  figcaption span{ 
    line-height: 90%;
  }
  .share-title{
    display: inline;
  }
  .noticias-relacionadas{
    display: none;
  }

  .row{
    padding-left: 0px !important;
  }
.span-arrow{
  padding-left: 15px;
  }
}
