  .card{
     width: 15rem;
  }

  
@media only screen and (max-width: 600px) {
    .card{
     width: 42%;
     align-items: center;
     text-align:center;
     margin: 5px;
     margin-right: 15px;
  }
  .card-mobile{
    display: none;
  }
}
