  .wrapper {
    display: grid;
    grid-template-columns: 50% 50%;	
    padding-top: 40px;
  }
  .wrapper  h2{
    text-align: center;
  }
  .lista-contenido{
    list-style-type: none;

  }

  .lista-contenido li{
    min-height: 45px;
    background:  var(--color_blue_5);
    color: white;
    text-align: center;
    padding: 10px;

    margin-bottom: 5px;
  }  




  @media only screen and (max-width: 600px) {
    .wrapper {
      display: grid;
      grid-template-columns: 100%;	
    }

    .lista-contenido{
       margin: 0 !important; 
           padding-inline-start: 0px;

    }  
    .lista-contenido li{
      width: 100%;
      min-height: 45px;
      background:  var(--color_blue_5);
      color: white;
      text-align: center;
      padding-left: 10px;

      margin-bottom: 5px;
    }

  }